<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap layout</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row" id="header">
        <div class="col">
          <h1>website heading</h1>
        </div>
      </div>
      <div class="row" id="navbar">
        <div class="col">
          <ul>
            <li>Home</li>
            <li>Service</li>
            <li>About</li>
            <li>contact</li>
            <li>help</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3" id="sidebar">
          <ul>
            <li>Home</li>
            <li>Service</li>
            <li>About</li>
            <li>contact</li>
            <li>help</li>
          </ul>
        </div>
        <div class="col-md-6" id="main">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure
          recusandae atque eum expedita perspiciatis earum architecto quia
          fugit! Sapiente ad impedit ipsa laborum quam sunt laudantium veritatis
          veniam doloribus similique eum, recusandae quo tempore praesentium
          quae necessitatibus. Quibusdam natus vel eum repudiandae, eligendi
          est. Odio illo doloremque sed totam sit magnam sapiente! Earum sit
          atque quaerat recusandae, nobis quo. Doloremque eaque, tempore aliquam
          cum excepturi perspiciatis quidem minima, eius fugit amet quis
          accusamus officia autem reiciendis laboriosam? A commodi nisi magni
          assumenda veritatis quam! Laboriosam recusandae dolore tempora iste
          explicabo, omnis eius soluta voluptate corrupti magnam quibusdam culpa
          veritatis quidem voluptatibus delectus et odio exercitationem at quae
          vitae! Animi, doloremque facilis consequatur pariatur unde eligendi
          nesciunt debitis repudiandae labore similique!
        </div>
        <div class="col-md-3" id="sidebar">
          <ul>
            <li>Home</li>
            <li>Service</li>
            <li>About</li>
            <li>contact</li>
            <li>help</li>
          </ul>
        </div>
      </div>
      <div class="row" id="footer">
        <div class="col">&copy website 2025</div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
