* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  border: 5px solid black;
  height: 800px;
}

.row {
  border: 3px solid red;
  height: 100px;
}

.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  border: 2px solid rgb(0, 17, 255);
  height: 100%;
}
